{% extends 'base.html.twig' %}

{% block title %}Task Manager
{% endblock %}

{% block body %}
{% include "partials/headTaskFile.html.twig" with {'titlePage': 'View Task', 'taskReturn' : '/task'} %}
	{% if task is defined %}
		<div>
			{{ task.name }}
		</div>
		<div>
			{{ task.desciption }}
		</div>
		<div>
			{{ task.author.email }}
		</div>
		<div>
			{{ task.createDt|date('Y-m-d H:i:s') }}
		</div>
		<div>
			{{ task.updateDt|date('Y-m-d H:i:s') }}
		</div>
	{% endif %}
{% endblock %}
